*.lnk
*.bat
保留的问题.txt

【打包】凛冬将至/*
【工程文件】/需要移除的文件.ini
【基础文件】/*
【连接日志】/*
【输出结果】/*
Y-资源文件/*
Z-其他文件/*
地图渲染器/*

!【输出结果】/rulesmd.ini

D-新-萌菌阵营/*
E-新-酥菌阵营/*
F-新-尤里阵营/*
G-神州阵营/*
H-旭日阵营/*
I-新星阵营/*
J-纯白骑士团阵营/*
K-闪耀科技同盟阵营/*
L-食铁兽阵营/*
M-清道夫阵营/*
N-青野原阵营/*
O-灼热轨迹阵营/*
P-仓鼠球阵营/*
Q-冰茬阵线阵营/*
R-七面风阵营/*
S-超越阵营/*
T-巅峰前哨阵营/*
V-奇迹阵营/*